body
{
	background-color: #f1f1f1b3;
    background-repeat: no-repeat;
    background-size: 1400px;
    font-family: "Montserrat Alternates Black",sans-serif;
	background-image: url(d.jpg);
}
.button:hover {
	background-color: #43443bb3;
	box-shadow: -1px 2px 10px 8px rgba(80, 63, 63, 0.5);
  }
  .box1:hover
  {
	box-shadow: -1px 2px 10px 8px rgba(78, 66, 66, 0.5);
	color: #d3c2ae;
  }
.container
{
	box-shadow: 0 0 15px hsla(0deg, 0%, 0%, 0.5);
	width:280px;
	height:270px;
	position:absolute;
	background-color: hsla(210, 12%, 71%, 0);
	border-radius:10px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

	text-align:center;
}
.container h1
{
	text-align: center;
	font-size:40px;
	margin-top:100px;
	margin-bottom:50px;
}
.box1
{
	width:250px;
	height:35px;
	background:white;
	border-radius:10px;
	margin:10px auto;
	margin-top: 20px;
}
.box1 input
{
	border:none;
	outline:none;
	text-align:center;
	width:90%;
	line-height:37px;
	font-family:"Montserrat Alternates Black",sans-serif;
	font-size:12px;
	color:#333;
}
.button
{
	width:100px;
	height:35px;
	background:#f1f1f1b3;
	border-radius:10px;
	margin:10px auto;
	display:block;
	font-family:"Montserrat Alternates Black",sans-serif;
	border:none;
}
.button1
{
   display:block;
   width:260px:
   padding:10px 0;
   text-decoration:none;
   color:white;
   text-align:center;
   margin:auto;
   transition:0.4s all;
}
.button2
{
   position:absolute;
   bottom:80px;
   left:50%;
   transform:translateX(-50%);
   text-decoration:none;
   text-align:center;
   color:Gray;
   padding:10px 0;
   transition:0.4s all;
}
.box2
{
	margin-top: 60px;
}